.order {
    align-items: center;
}

#order label{
    text-align: center;
    display:flexbox;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
    min-width: 35px;
}
